/phat-devices/target/
*.so
*~
vapi.props

/phat-mason/target/
/phat-demos/target/
/target/
/phat-agents/target/
.idea
*.iml
/phat-server/nbproject/private/
/phat-server/target/
/phat-interface/target/
